#cloud-config

ssh_authorized_keys:
- "{{ deploy_key }}"

coreos:

  update:
    reboot-strategy: "off"

  units:
  - name: systemd-journal-remote.service
    drop-ins:
    - name: 10-ExecStart-and-Restart-always.conf
      content: |
        [Service]
        ExecStart=
        ExecStart=/usr/lib/systemd/systemd-journal-remote --listen-http=-3 --output=/var/log/journal/remote/remote.journal --split-mode=none
        Restart=always

  - name: systemd-journal-remote.socket
    command: start
    enable: true

  - name: generate-kubelet-key-and-csr.service
    command: start
    content: |
      [Unit]
      ConditionPathExists=!/etc/kubernetes/kubelet-csr.pem
      [Service]
      Type=oneshot
      ExecStart=/bin/bash -c 'openssl genrsa -out /etc/kubernetes/kubelet-key.pem 2048'
      ExecStart=/bin/bash -c 'IP=$(curl http://169.254.169.254/latest/meta-data/local-ipv4) openssl req -new -key /etc/kubernetes/kubelet-key.pem -out /etc/kubernetes/kubelet-csr.pem -subj "/CN=kubelet" -config /etc/kubernetes/openssl.cnf'

write_files:
- path: /etc/kubernetes/openssl.cnf
  content: |
    [req]
    req_extensions = v3_req
    distinguished_name = req_distinguished_name
    [req_distinguished_name]
    [ v3_req ]
    basicConstraints = CA:FALSE
    keyUsage = nonRepudiation, digitalSignature, keyEncipherment
    subjectAltName = @alt_names
    [alt_names]
    IP.1 = $ENV::IP

- path: "/etc/systemd/journal.conf.d/10-SystemMaxUse.conf"
  permissions: "0644"
  owner: "root"
  content: |
    [Journal]
    SystemMaxUse=4G
