#cloud-config

ssh_authorized_keys:
- "{{ deploy_key }}"

packages:
- ansible
- awscli
- python-boto
- golang

runcmd:
- systemctl start --no-block klondike-bootstrap.service

write_files:
- path: /etc/systemd/system/klondike-bootstrap.service
  owner: root:root
  permissions: "0644"
  content: |
    [Unit]
    After=multi-user.target
    Requires=multi-user.target
    [Service]
    Type=oneshot
    ExecStart=/var/lib/klondike/bootstrap
    User=ubuntu

- path: /var/lib/klondike/bootstrap
  owner: root:root
  permissions: "0777"
  content: |
    #!/bin/bash -ex

    cat << EOF > /home/ubuntu/.bash_login
    source /home/ubuntu/.klondikerc
    EOF

    cat << EOF > /home/ubuntu/.klondikerc
    export CLUSTER={{ cluster }}
    export ANSIBLE_CONFIG=/home/ubuntu/klondike/clusters/{{ cluster }}/ansible.cfg
    export KUBECONFIG=/home/ubuntu/klondike/clusters/{{ cluster }}/kubeconfig
    EOF

    export GOPATH=/home/ubuntu/.gopath
    mkdir $GOPATH
    git clone -b 1.2.0 https://github.com/cloudflare/cfssl $GOPATH/src/github.com/cloudflare/cfssl
    go get github.com/cloudflare/cfssl/cmd/cfssl
    sudo mv $GOPATH/bin/cfssl /usr/local/bin
    go get github.com/cloudflare/cfssl/cmd/cfssljson
    sudo mv $GOPATH/bin/cfssljson /usr/local/bin

    wget https://storage.googleapis.com/kubernetes-release/release/v1.2.2/bin/linux/amd64/kubectl -O /tmp/kubectl
    chmod a+x /tmp/kubectl
    sudo mv /tmp/kubectl /usr/local/bin/kubectl
    git_version={{ version.results[0].stdout }}
    git_version_length=${{ '{' }}#git_version{{ '}' }}
    git clone https://github.com/bcwaldon/klondike /home/ubuntu/klondike
    cd /home/ubuntu/klondike
    # Git sha-1 hashes are 40 characters long
    if [ $git_version_length == 40 ]; then
       git reset --hard {{ version.results[0].stdout }}
    else
       git checkout tags/{{ version.results[0].stdout }}
    fi
    cd /home/ubuntu/klondike && contrib/s3-config pull {{ cluster}} {{ s3_config_bucket }}
