#!/bin/bash -e

USER_DATA=$(cat {{ cluster_dir }}/cloud-config.yml | base64)
BASTION_USER_DATA=$(cat {{ cluster_dir }}/bastion-cloud-config.yml | base64)

PARAMETERS=( 
	"ParameterKey=AvailabilityZone,ParameterValue={{ aws_availability_zone }}"
	"ParameterKey=ControllerInstanceType,ParameterValue={{ controller_instance_type }}"
	"ParameterKey=ControllerInstanceCount,ParameterValue={{ controller_instance_count }}"
	"ParameterKey=WorkerInstanceType,ParameterValue={{ worker_instance_type }}"
	"ParameterKey=WorkerInstanceCount,ParameterValue={{ worker_instance_count }}"
	"ParameterKey=BastionInstanceType,ParameterValue=m3.medium"
	"ParameterKey=CoreOSImageID,ParameterValue={{ coreos_image_id }}"
	"ParameterKey=UbuntuImageID,ParameterValue={{ ubuntu_image_id }}"
	"ParameterKey=ClusterName,ParameterValue={{ cluster }}"
	"ParameterKey=HostedZone,ParameterValue={{ aws_hosted_zone }}"
	"ParameterKey=S3ConfigBucket,ParameterValue=konduct"
	"ParameterKey=ControllerUserData,ParameterValue=$USER_DATA"
	"ParameterKey=WorkerUserData,ParameterValue=$USER_DATA"
	"ParameterKey=BastionUserData,ParameterValue=$BASTION_USER_DATA"
)

function join { local IFS="$1"; shift; echo "$*"; }

aws cloudformation create-stack \
	--stack-name konduct-cluster-{{ cluster }} \
	--capabilities CAPABILITY_IAM \
	--parameters $(join " " "${PARAMETERS[@]}") \
	--disable-rollback \
	--template-body file://{{ cluster_dir }}/stack-template.json
