apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    server: "{{ control_plane_endpoint }}"
    certificate-authority-data: "{{ pki_ca_cert|b64encode }}"
users:
- name: kubelet
  user:
    client-certificate-data: "{{ pki_client_admin_cert|b64encode }}"
    client-key-data: "{{ pki_client_admin_key|b64encode }}"
contexts:
- context:
    cluster: kubernetes
    user: kubelet
  name: kubelet
current-context: kubelet

