apiVersion: v1
kind: Config

clusters:
- name: cluster-{{ cluster }}
  cluster:
    server: "{{ control_plane_endpoint }}"
    certificate-authority-data: "{{ pki_ca_cert|b64encode }}"

users:
- name: user-{{ cluster }}-admin
  user:
    client-certificate-data: "{{ pki_clients.admin.cert|b64encode }}"
    client-key-data: "{{ pki_clients.admin.key|b64encode }}"

contexts:
- name: context-{{ cluster }}
  context:
    cluster: cluster-{{ cluster }}
    user: user-{{ cluster }}-admin

current-context: context-{{ cluster }}
