Host {{ ssh_bastion }}
	ForwardAgent yes
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null
	IdentityFile {{ cluster_dir }}/id_rsa

Host 10.*
	ProxyCommand ssh -F {{ cluster_dir }}/ssh_config core@{{ ssh_bastion }} -W %h:%p
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null
	IdentityFile {{ cluster_dir }}/id_rsa
