apiVersion: v1
kind: Pod
metadata: 
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: "kube-apiserver"
    image: "gcr.io/google_containers/hyperkube:v1.2.0"
    args: 
    - "/hyperkube"
    - "apiserver"
    - "--allow-privileged=true"
    - "--etcd-servers={{ etcd_client_endpoint }}"
    - "--advertise-address={{ hostname }}"
    - "--service-cluster-ip-range={{ cluster_service_ip_range }}"
    - "--v=2"
    - "--client-ca-file=/etc/kubernetes/ca.pem"
    - "--tls-cert-file=/etc/kubernetes/apiserver.pem"
    - "--tls-private-key-file=/etc/kubernetes/apiserver-key.pem"
    - "--service-account-key-file=/etc/kubernetes/apiserver-key.pem"
    - "--admission-control=NamespaceLifecycle,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota"
    - "--runtime-config=extensions/v1beta1/deployments=true,extensions/v1beta1/daemonsets=true"
    ports: 
    - containerPort: 8080
      hostPort: 8080
      name: "api"
    volumeMounts:
    - mountPath: "/etc/kubernetes"
      name: "tls"
  volumes:
  - name: "tls"
    hostPath:
      path: "/etc/kubernetes"
