apiVersion: v1
kind: Pod
metadata: 
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: "kube-apiserver"
    image: "{{ hyperkube_image }}"
    args: 
    - "/hyperkube"
    - "apiserver"
    - "--allow-privileged=true"
    - "--etcd-servers={{ etcd_client_endpoint }}"
    - "--advertise-address={{ ec2_private_ip_address }}"
    - "--service-cluster-ip-range={{ cluster_service_network_cidr }}"
{% if kubernetes_log_verbose %}
    - "--v=2"
{% endif %}
    - "--client-ca-file=/etc/kubernetes/ca.pem"
    - "--tls-cert-file=/etc/kubernetes/apiserver.pem"
    - "--tls-private-key-file=/etc/kubernetes/apiserver-key.pem"
    - "--service-account-key-file=/etc/kubernetes/apiserver-key.pem"
    - "--admission-control=NamespaceLifecycle,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota"
    - "--runtime-config=extensions/v1beta1/deployments=true,extensions/v1beta1/daemonsets=true"
    - "--cloud-provider=aws"
    ports: 
    - containerPort: "{{ apiserver_insecure_port }}"
      hostPort: "{{ apiserver_insecure_port }}"
      name: "api-insecure"
    - containerPort: "{{ apiserver_secure_port }}"
      hostPort: "{{ apiserver_secure_port }}"
      name: "api-secure"
    volumeMounts:
    - mountPath: "/etc/kubernetes"
      name: "tls"
  volumes:
  - name: "tls"
    hostPath:
      path: "/etc/kubernetes"
