apiVersion: v1
kind: Pod
metadata: 
  name: kube-scheduler
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: "kube-scheduler"
    image: "{{ hyperkube_image }}"
    args:
    - "/hyperkube"
    - "scheduler"
    - "--master={{ apiserver_local_endpoint }}"
{% if kubernetes_log_verbose %}
    - "--v=2"
{% endif %}
    - "--leader-elect=true"
