#!/bin/bash -ex

# Use the CloudFormation template available at this S3 location
export TEMPLATE_URL=""

# Logical name of the cluster (used for resource tagging)
export CLUSTER_NAME=""

# Deploy cluster in this availability zone
export AZ=""

# Authorize this SSH key on all EC2 hosts
export SSH_KEYNAME=""

# Use this AMI for each EC2 instance
export IMAGE_ID="ami-07252c6d"  # CoreOS Alpha v1000.0.0

# Use these instance types for controllers and workers, respectively
export CONTROLLER_INSTANCE_TYPE="m3.medium"
export WORKER_INSTANCE_TYPE="m3.medium"

# Logical name of the CloudFormation stack
export STACK_NAME="konduct-cluster-${CLUSTER_NAME}"
