apiVersion: v1
kind: Pod
metadata:
  name: datadog-agent
  namespace: kube-system
spec:
  containers:
  - image: datadog/docker-dd-agent:latest
    name: datadog-agent
    imagePullPolicy: Always
    ports:
      - containerPort: 8125
        name: dogstatsdport
    env:
      - name: API_KEY
        value: "{{ datadog_api_key }}"
      - name: TAGS
        value: "KubernetesCluster:{{ cluster }},KubernetesClusterRole:{{ cluster_role }}"
    volumeMounts:
      - name: dockersocket
        mountPath: /var/run/docker.sock
      - name: procdir
        mountPath: /host/proc
        readOnly: true
      - name: cgroups
        mountPath: /host/sys/fs/cgroup
        readOnly: true
  - image: {{ kube_datadog_image }}
    name: kube-datadog
    imagePullPolicy: Always
    env:
      - name: KUBE_DATADOG_TAGS
        value: "KubernetesCluster:{{ cluster }},KubernetesClusterRole:{{ cluster_role }},host:{{ ec2_id }}"
      - name: KUBE_DATADOG_KUBELET
        value: "{{ ec2_private_ip_address }}:10255"
      - name: KUBE_DATADOG_SOURCE
        value: kubelet
      - name: KUBE_DATADOG_DOGSTATSD
        value: {{ datadog_statsd_host }}
  volumes:
    - hostPath:
        path: /var/run/docker.sock
      name: dockersocket
    - hostPath:
        path: /proc
      name: procdir
    - hostPath:
        path: /sys/fs/cgroup
      name: cgroups
