apiVersion: v1
kind: Pod
metadata: 
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: "kube-proxy"
    image: "{{ hyperkube_image }}"
    args:
    - "/hyperkube"
    - "proxy"
{% if kubernetes_log_verbose %}
    - "--v=2"
{% endif %}
    - "--proxy-mode=iptables"
    - "--bind-address={{ ec2_private_ip_address }}"
    - "--hostname-override={{ ec2_id }}"
    - "--master={{ apiserver_client_endpoint }}"
{% if apiserver_client_tls_enabled %}
    - "--kubeconfig=/etc/kubernetes/kubeconfig"
{% endif %}
    volumeMounts:
    - mountPath: "/tmp"
      name: "tmp"
    - mountPath: "/var/run/dbus/system_bus_socket"
      name: "dbus"
{% if apiserver_client_tls_enabled %}
    - mountPath: "/etc/kubernetes"
      name: "etc-kubernetes"
{% endif %}
    securityContext:
      privileged: true

  volumes:
  - name: "dbus"
    hostPath:
      path: "/var/run/dbus/system_bus_socket"
  - name: "tmp"
    emptyDir:
      path: "/tmp"
      medium: "Memory"
{% if apiserver_client_tls_enabled %}
  - name: "etc-kubernetes"
    hostPath:
      path: "/etc/kubernetes"
{% endif %}
