apiVersion: v1
kind: Config

clusters:
- name: cluster-{{ cluster }}
  cluster:
    certificate-authority: /etc/kubernetes/ca.pem

users:
- name: user-{{ cluster }}-kubelet
  user:
    client-certificate: /etc/kubernetes/kubelet.pem
    client-key: /etc/kubernetes/kubelet-key.pem

contexts:
- name: context-{{ cluster }}
  context:
    cluster: cluster-{{ cluster }}
    user: user-{{ cluster }}-kubelet

current-context: context-{{ cluster }}
