KUBELET_OPTS= \
--v=2 \
--config=/etc/kubernetes/manifests \
--allow-privileged=true \
--address={{ kubelet_bind }} \
--api_servers={{ apiserver_client_endpoint }} \
--hostname_override={{ hostname }} \
--cluster-dns={{ cluster_dns_service_ip }} \
--cluster-domain={{ cluster_dns_zone }} \
--register-node=true \
--register-schedulable={% if kubelet_schedulable %}true{% else %}false{% endif %} \
{% if apiserver_client_tls_enabled %}
--kubeconfig=/etc/kubernetes/kubeconfig \
--tls-cert-file=/etc/kubernetes/kubelet.pem \
--tls-private-key-file=/etc/kubernetes/kubelet-key.pem \
{% endif %}
