KUBELET_VERSION={{ kubelet_version }}

KUBELET_OPTS= \
{% if kubernetes_log_verbose %}
--v=2 \
{% endif %}
--config=/etc/kubernetes/manifests \
--allow-privileged=true \
--address=0.0.0.0 \
--api_servers={{ apiserver_client_endpoint }} \
--hostname_override={{ ec2_id }} \
--cloud-provider=aws \
{% if kubelet_enable_pod_networking %}
--configure-cbr0=true \
--cluster-dns={{ cluster_service_dns_ip }} \
--cluster-domain={{ cluster_service_dns_zone }} \
{% else %}
--configure-cbr0=false \
{% endif %}
{% if apiserver_client_tls_enabled %}
--kubeconfig=/etc/kubernetes/kubeconfig \
--tls-cert-file=/etc/kubernetes/kubelet.pem \
--tls-private-key-file=/etc/kubernetes/kubelet-key.pem \
{% endif %}
--register-node=true \
--register-schedulable={% if kubelet_schedulable %}true{% else %}false{% endif %} \
--system-reserved="cpu=250m,memory=256Mi"

RKT_OPTS= \
--volume=etc-resolv-conf,kind=host,source=/etc/resolv.conf \
--mount=volume=etc-resolv-conf,target=/etc/resolv.conf \
--volume=usr-sbin,kind=host,source=/usr/sbin \
--mount=volume=usr-sbin,target=/usr/sbin
