apiVersion: v1
kind: ReplicationController
metadata:
  name: kube-datadog
  namespace: kube-system
spec:
  replicas: 1
  selector:
    app: kube-datadog
    source: api
  template:
    metadata:
      labels:
        app: kube-datadog
        source: api
    spec:
      containers:
      - name: datadog-agent
        image: datadog/docker-dd-agent:latest
        imagePullPolicy: Always
        env:
        - name: API_KEY
          value: addf5ca8a9bc5413f9c4fa7c69a4939c
        - name: DOGSTATSD_ONLY
          value: "yes"
        - name: DOCKER_DD_AGENT
          value: "no"
        ports:
        - containerPort: 8125
          name: dogstatsdport
          protocol: TCP
      - image: {{ kube_datadog_image }}
        name: kube-datadog
        imagePullPolicy: Always
        env:
        - name: KUBE_DATADOG_TAGS
          value: "KubernetesCluster:{{ cluster }},KubernetesClusterRole:cluster"
        - name: KUBE_DATADOG_SOURCE
          value: api
        - name: KUBE_DATADOG_DOGSTATSD
          value: {{ datadog_statsd_host }}
