{% for item in clients %}
pki_client_{{ item.name }}_cert: |
{{ vars["pki_client_"+ item.name +"_cert"]|indent(2,True) }}

pki_client_{{ item.name }}_key: |
{{ vars["pki_client_"+ item.name +"_key"]|indent(2,True) }}

{% endfor %}
