apiVersion: v1
kind: Pod
metadata:
  name: gateway
  labels:
    app: gateway
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: "farva"
    image: "{{ farva_image }}"
    command:
    - ./farva-gateway
    env:
    - name: FARVA_GATEWAY_KUBECONFIG
      value: /etc/kubernetes/kubeconfig
    - name: FARVA_GATEWAY_CLUSTER_ZONE
      value: "gateway.{{ aws_hosted_zone }}"
    volumeMounts:
    - mountPath: /etc/kubernetes
      name: etc-kubernetes
{% if datadog_enabled == true %}
  - image: datadog/docker-dd-agent:latest
    name: datadog-agent
    imagePullPolicy: Always
    ports:
      - containerPort: 8125
        name: dogstatsdport
    env:
      - name: API_KEY
        value: "{{ datadog_api_key }}"
      - name: TAGS
        value: "KubernetesCluster:{{ cluster }},KubernetesClusterRole:{{ cluster_role }}"
    volumeMounts:
      - name: dockersocket
        mountPath: /var/run/docker.sock
      - name: procdir
        mountPath: /host/proc
        readOnly: true
      - name: cgroups
        mountPath: /host/sys/fs/cgroup
        readOnly: true
      - name: dd-agent-conf
        mountPath: /conf.d
        readOnly: true
{% endif %}
  volumes:
  - hostPath:
      path: /etc/kubernetes/
    name: etc-kubernetes
{% if datadog_enabled == true %}
  - hostPath:
      path: /var/run/docker.sock
    name: dockersocket
  - hostPath:
      path: /proc
    name: procdir
  - hostPath:
      path: /sys/fs/cgroup
    name: cgroups
  - hostPath:
      path: /etc/dd-agent/conf.d
    name: dd-agent-conf
{% endif %}
