#
# Copyright 2016 Planet Labs
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
name: journalbeat

#tags: [ "blue", "red" ]

input:
  # What position in journald to seek to at start up
  # options: cursor, tail, head (defaults to tail)
  seek_position: cursor

  # If seek_position is set to cursor and seeking to cursor fails
  # fall back to this method.  If set to none will it will exit
  # options: tail, head, none (defaults to tail)
  cursor_seek_fallback: tail

  write_cursor_state: true
  cursor_state_file: /tmp/journalbeat-cursor-state
  flush_cursor_secs: 3

  convert_to_numbers: false
  #clean_field_names: true
  #move_metadata_to_field: journal
  #default_type: journal
  journal_dir: "/var/log/journal/remote/"

#output:
#  console:
#    pretty: true
#  logstash:
#    hosts: ["localhost:5044"]
