apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    server: "https://{{ control_plane_host }}"
    certificate-authority-data: "{{ pki_ca.cert|b64encode }}"
users:
- name: kubelet
  user:
    client-certificate-data: "{{ pki_clients.admin.cert|b64encode }}"
    client-key-data: "{{ pki_clients.admin.key|b64encode }}" 
contexts:
- context:
    cluster: kubernetes
    user: kubelet
  name: kubelet
current-context: kubelet

