apiVersion: v1
kind: Pod
metadata:
  name: logstash
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: "logstash"
    image: "{{ logstash_image }}"
    command:
    - /bin/bash
    - -c
    - "logstash --verbose --config /etc/logstash/logstash.conf"
    volumeMounts:
    - mountPath: "/etc/logstash"
      name: "etc-logstash"
  - name: "journalbeat"
    image: "{{ journalbeat_image }}"
    env:
    - name: LOGSTASH_HOST
      value: 127.0.0.1:5601
    volumeMounts:
    - mountPath: "/var/log/journal"
      name: "var-log-journal"
  volumes:
  - name: "var-log-journal"
    hostPath:
      path: "/var/log/journal"
  - name: "etc-logstash"
    hostPath:
      path: "/etc/logstash"
